# app
APP_ENV="development"
APP_PORT="3033"
PREFIX_REQUEST_ID="prefix-request"

# db
DB_HOST="http://127.0.0.1"
DB_PORT="5432"
DB_USER="postgres"
DB_PASSWORD="postgres"
DB_NAME="postgres"
DB_MAX_CONNECTION="10"
DB_MAX_IDLE_CONNECTION="10"